---
layout: default
title: Blog
---
{% for post in paginator.posts %}
<div class="post">
  <div class="post-header">
    <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    <div class="post-date">{{ post.date | date: "%B %e, %Y" }}</div>
  </div>
  <div class="post-content">{{ post.excerpt }}</div>
  <div><a href="{{ post.url }}">More...</a></div>
</div>
{% endfor %}

<div id="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" id="prev" title="Previous Page">&laquo; Previous</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}/" id="prev" title="Previous Page">&laquo; Previous</a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %} 
    <a href="/page{{ paginator.next_page }}/" id="next" title="Next Page">Next &raquo;</a>
  {% endif %} 
</div>