$width: 95%;
$max-width: 900px;
$center_margin: 0 auto;
$header_height: 90px;

$normal_font_size: 14px;

$darkgray: #444;
$lightgray: #aaa;
$accent: dodgerblue;

$link: $darkgray;
$link_hover: $lightgray;
$altlink: black;
$link3: $lightgray;
$link3_hover: black;