@import "common";

#content {
    margin-top: $header_height;
    h1 { font-weight: normal; }
    ol { padding-left: 1em; }
    ul { @extend ol; list-style: none;  }
    pre {
        text-align: left;
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    div #___gcse_0 {
        margin-top: 1em;
        max-width: $max-width / 2.72;
    }
    a#prev {
        text-align: left;
        text-decoration: none;
        margin-top: 0.5em;
        color: $accent;
        float: left;
        padding-right: 1.5em;
    }
    a#next {
        @extend a#prev;
        float: right;
        padding-right: 0;
    }
    img#profile-picture { padding-left: 1.5em; }
    #tag-index .tag-collection { display: none; }

    p#tag-list {
        margin-top: 1.5em;
        text-align: left;
        a.tag-link { color: $accent; padding-left: 0.25em; }
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
    @import "post";
}
