@import "common";

#header {
    height: $header_height;
    position: fixed;  overflow: hidden;
    margin: $center_margin;
    // Fixed header effect
    top: 0px; z-index: 1; width: $width;
    background: white;
    // Only support screens with min width of 320px (iPhone 5 size)
    @media only screen and (max-width: 359px) {
        font-size: 12px;
        height: $header_height - 10px; // ew
    }

    h1#title {
        float: left;
        margin: $center_margin;
        font-size: 3em;
        a {
            text-decoration: none;
            color: $accent; 
        }
    }
    ul {
        clear: both;
        list-style: none;
        padding: 0;
        li {
            float: left;
            position: relative;
            letter-spacing: 2px;
            font-size: 1.25em;
            margin: 0 0 0 1.55em;
            a {
                color: $link3;
                text-decoration: none;
                &.active { color: $altlink; }
                &:hover, &:focus { color: $link3_hover; }
            }
            &:first-child { margin: 0; }
        }
    }
}