@import "common";

.post {
    position: relative;
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0 0 0.5em 0;
    overflow: hidden;
    .post-header {
        color: black;
        h1.post-title {
            padding-bottom: 0; margin: 0;
            a { text-decoration: none; color: $altlink; }
        }
    }
    ol {
        padding-left: 2em;
        li { padding-bottom: 0; }
    }
    ul { @extend ol; list-style: disc; }
    .post-content {
        $line_height: 1.25em;
        margin-top: $line_height;
        clear: both;
        line-height: $line_height;
        text-align: left;
        h2 {
            float: none;
            margin: 0;
            padding-bottom: 0.5em;
            font-weight: normal;
            overflow: hidden;
            line-height: $line_height;
        }
        p { margin-top: 0; }
        iframe { all: initial; }
        .video-container {
            // From https://avexdesigns.com/responsive-youtube-embed/
            position: relative;
            margin-bottom: 1em;
            padding-bottom: 55%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            iframe, object, embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    img {
        display: block; margin: auto; max-width: 100%; height: auto;
    }
    figure.post-photo {
        display: block;
        margin: auto;
        margin-bottom: 1em;
        @media only screen {
            @media (min-width: 460px) { 
                float: right; 
                margin-left: 1.25em;
            }
        }
        img { max-height: 150px; max-width: 300px; }
        figcaption {
            font-size: 0.8em;
            color: $lightgray;
            text-align: center;
            a { color: $link3; &:hover, &:focus { color: $link3_hover; } }
        }
    }
}
