@import "common";

.post {
    position: relative;
    margin: 0;
    padding: 0 0 0.5em 0;
    overflow: hidden;
    .post-header {
        color: black;
        h1 {
            &.post-title { padding-bottom: 0; margin-bottom: 0; }
            a { text-decoration: none; color: $altlink; }
            }
    }
    ol { 
        padding-left: 2em;
        li { padding-bottom: 0em; }
    }
    ul { @extend ol; list-style: disc; }
    .post-content {
        font-size: $normal_font_size;
        clear:both; list-style-position: inside;
        line-height: 1.25; text-align: justify;
        h2 {
            float: none;
            margin: 0;
            padding-bottom: 0.25em;
            font-weight: normal;
            overflow: hidden;
            clear: all;
        }
    }
    img { display:block; margin: auto; }
}
