/* 
    Document   : newStyle
    Created on : Jan 10, 2012, 11:06:42 PM
    Author     : Randy
    Description:
        Purpose of the stylesheet follows.
*/

/* body/html */
/*body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, input, fieldset, blockquote, iframe {
	margin: 0; padding: 0; border: 0;
}*/

body {
    background-color: white;
    background-position: top center;
    background-attachment: fixed;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    color: black;
    /*background: url(footer-top.png) bottom repeat-x;*/
}

a { color: #444; }
a:hover { color: gray; }

/* header */
#header {
    width: 95%; max-width: 900px; margin: auto; position: relative;
    overflow: hidden; height: 90px;
}

    #header h1#title {
        float: left;
        margin: auto;
        font-size: 40px;
    }
    #header h1#title a {
        text-decoration: none;
        color: #000;
    }
    #header h1#title a:hover, #header h1#title a:focus { color: gray; }

    #header ul {
        clear: both;
        list-style: none;
        padding: 0;
    }
    #header ul li {
        float: left;
        position: relative;
        margin: 0 0 0 30px; 
        font-size: 20px;
        letter-spacing: 2px;
    }
    #header ul li a {
        font-size: 16px;
        letter-spacing: 2px;
        color: #aaa;
        text-decoration: none;
        margin: 0;
    }
    #header ul li a.active { color:black }
    #header ul li a:hover, #header ul li a:focus { color: black; }
    #header ul li:first-child { margin: 0; }

  /* h1 - for icon */
  /*#header h1 a { }
  #header h1 a:hover, #header h1 a:focus { }*/

#content {
    width: 95%; max-width: 900px; margin: 0 auto 0 auto;
    padding: 0 22px 0 22px;
}

#content:after {
    content: ""; display: block; clear: both;
    padding-bottom: 30px;
}

#content p {
    color: #474747; margin: 0 0 15px 0;
}

#content .post {
    position: relative; margin: 0 0 0 0; padding: 0 0 10px 0;
    overflow: hidden;
}

    #content .post h1 a { text-decoration: none; color: #000; }
    #content .post h1 a:hover { color: gray; }
    #content .post h2 {
        float: left; margin: 10px 0 50px 80px; color: #666;
        font-size: 28px; font-weight: normal;
        letter-spacing: normal; display: block; overflow: hidden;
        clear: all;
    }
    #content .post p.date {
        position: absolute; left: 0; top: 0;
        padding: 4px 7px 4px 7px; margin: 0 7px 40px 7px;
        font-weight: normal;
        font-size: 40px;
        color: gray; text-align: center;
    }
    #content .post p.date span {
        font-weight: normal;
        font-size: 20px;
        display: block; margin: -5px 0 0 0;
    }
    #content .post .post-content {
        clear:both; list-style-position: inside;
        line-height: 1.75; text-align: justify;
    }
    #content .post .post-content ol {
        margin: 2 15px 0 15px;
    }
    #content .post .post-content h2 {
        float: none; margin: 0px;
        font-size: 28px; font-weight: normal;
        letter-spacing: normal; display: block; overflow: hidden;
        clear: all;
    }

    #content .post div.labels {
        margin: 18px 0 0 0; font-size: 13px; text-align: center;
    }
    #content .post div.labels b {
        font-weight: normal; color:black; font-size: 13px;
    }
    #content .post div.labels a {
        text-decoration: none; color: darkred;
    }
    #content .post div.labels a:hover { color: gray; }
    #content .post img { display:block; margin: auto; }

    #content a#next {
        text-decoration: none; float: left;
    }
    #content a#prev {
        text-decoration: none; float: left; margin-right: 20px;
    }
/*« Older EntriesNewer Entries »*/

    #content #archive ul {
        padding-top: 0;
        list-style: none;
        padding-left: 15px;
    }
    #content #tag-index .tag-collection { 
        display: none;
    }
    #content #tag-index .tag-collection ul {
        list-style: none;
        padding-left: 15px;
    }

/* footer */
#footer {
    width: 100%; max-width: 900px; clear: both; color: gray;
    text-align: right; position: relative; overflow: hidden;
    margin: 0 auto; padding-bottom: 28px;
}

.edit_bullet  {
  size: 200px;
  font-style: italic;
  font-size: 14px;
}
