---
---
/* 
    Document   : style
    Created on : Apr 6, 2017
    Author     : Randy
*/

@import "reset";
@import "common";

body {
    background-color: white;
    background-position: top center;
    background-attachment: fixed;
    font-family: "Segoe UI", sans-serif;
    font-size: $normal_font_size;
    color: $darkgray;
    width: $width;
    max-width: $max-width;
    margin: $center_margin; 
}
a {
    color: $link;
    &:hover, &:focus { color: $link_hover; }
}
li { padding-bottom: 0.5em; }

div#body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
}

@import "header";
@import "content";
@import "footer";
@import "syntax";