<!DOCTYPE HTML>
<html>
  <head>
{% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div id="body" class="faded_element">
      <div id="content">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
  <script src="/assets/js/echo.min.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      faded_elements = document.getElementsByClassName('faded_element');
      for (i = 0; i < faded_elements.length; i++) {
        faded_elements[i].style.opacity = '1';
      }
      echo.init({offset: 1000});
    }
  </script>  
</html>
